USE [DBAzmoon]
GO
/****** Object:  StoredProcedure [dbo].[CheckQuestionNumber]    Script Date: 7/31/2022 6:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[CheckQuestionNumber]
@groupid int ,
@questionnumber int ,
@result int output
as
declare @totalquestion int 
select @totalquestion = count (*) from TblQuestion where GroupID = @groupid
if(@questionnumber > @totalquestion)
set @result = 0;
else
begin
set @result = 1;
select top (@questionnumber) * from TblQuestion where GroupID = @groupid
order by NEWID()
end
